body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:darkred;
    color: white; /* this is white */
}

#Top {
    background-color: white;
    color:darkred;
}

.RedBull {
    background-color: navy;
}

.McLaren {
    background-color: orange;
    color:black;
}